<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
		<dict>
	
				<key>KFMSilentOptIn</key>
				<string>57fdf63b-7e22-45a3-83dc-d37003163aae</string>
				<key>PayloadDescription</key>
				<string>OneDrive - Takeda</string>
				<key>PayloadDisplayName</key>
				<string>OneDrive - Takeda</string>
				<key>DefaultFolder</key>
				<dict>
				<key>Path</key>
				<string>~/OneDrive - Takeda</string>
				<key>TenantId</key>
				<string>57fdf63b-7e22-45a3-83dc-d37003163aae</string>
				</dict>
				<key>OpenAtLogin</key>
				<true/>
				<key>DisableTutorial</key>
				<true/>
				<key>KFMBlockOptOut</key>
				<true/>
				<key>KFMSilentOptInWithNotification</key>
				<true/>
				<key>BlockExternalSync</key>
				<true/>
				<key>FilesOnDemandEnabled</key>
				<true/>
				<key>DisablePersonalSync</key>
				<true/>
				<key>EnableAllOcsiClients</key>
				<true/>
						
		</dict>
</plist>
